@font-face {
    font-family: Roboto-Thin;
    src: url(../_fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../_fonts/Roboto/Roboto-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

article {
    min-height: calc(100vh - 83px);
}

.logo {
    font-family: Roboto;
    font-size: 18pt !important;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ffffff;
}

.list-inline {
    margin-top: 15px;
}

.list-inline-item {
    margin-top: 8px;
}

.link-social {
    color: #000;
}

.h2-contato {
    font-family: Roboto;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.h3-subtitle {
    margin-bottom: 20px;
}

i {
    font-size: 24pt;
    margin-bottom: 10px;
}

.home-contato {
    font-family: Roboto-Thin, sans-serif;
    font-size: 24pt;
    letter-spacing: 5px;
    margin-top: 140px;
    padding-bottom: 70px;
    vertical-align: middle;
}

.contato-nome {
    margin-top: 20px;
}

.home-portfolio {
    padding: 30px;
    margin-top: -30px;
}

.h2-portfolio {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.lista-porfolio {
    list-style: none;
    margin-top: 20px;
    text-align: left;
}

.lista-porfolio li {
    display: inline-block;
    margin-bottom: 20px;
}

.card {
    width: 18rem;
    border-radius: 5px;
    transition: all ease-out .2s;
    box-shadow: 0px 15px 40px 0px #ededed !important;
    text-align: center;
}

.card:hover {
    cursor: context-menu;
    transition: all ease-out .2s;
    transform: translateY(-10px) !important;
}

.card-header {
    background: none !important;
    border: none !important;
}

.card-img-top {
    max-width: 250px;
    height: 55px;
}

.btn {
    background: #000 !important;
    color: #ffffff !important;
}

.btn:hover {
    box-shadow: 5px 3px 10px #888888;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin-top: 40px;
}

.footer-sobre p {
    font-family: Roboto-Regular, sans-serif;
    line-height: 1.7rem;
    text-align: justify;
}

footer a {
    color: #000 !important;
}

footer a:hover,
.link-social:hover {
    color: rgb(45, 42, 53) !important;
    text-decoration: none !important;
}

@media screen and (max-width:480px) {

    .home-contato {
        font-family: Roboto-Thin, sans-serif;
        font-size: 13pt;
        letter-spacing: 5px;
        padding: 30px;
        margin-top: 0px;
        text-align: center;
    }

    .h2-contato {
        margin-bottom: 40px;
    }

    .home-contato div {
        margin-top: 20px;
    }

    .home-contato i {
        width: 100%;
    }

    .portfolio {
        margin-top: 10px;
    }

}

@media (min-width:481px) and (max-width:767px) {

    .h2-contato {
        text-align: center;
        font-size: 18pt;
    }

    .home-contato {
        font-size: 17pt;
        letter-spacing: 2px;
    }

}

@media (min-width:768px) and (max-width:991px) {

    .h2-contato {
        text-align: center;
        font-size: 17pt;
    }

    .home-contato {
        font-size: 15pt;
        letter-spacing: 2px;
    }

}

@media (min-width:992px) and (max-width:1199px) {}

@media (min-width:1200px) {}